:root {
  // light
  --bg: #ffffff;
  --logoFilter: initial;
  --textNormal: #222;
  --textLink: #003cc8;
  --cardBg: rgb(223, 223, 223);
  --cardBorderShadow: rgb(165, 165, 165);
  -webkit-font-smoothing: antialiased;

  --sidenavWidth: 20rem;
  --sidenavMargin: 2rem;
  --cardCircleBoxShadow: var(--cardBg);
  --cardCircleBg: var(--cardBg);
  --border: var(--cardBg);
}

@media ( prefers-color-scheme: dark ) {
  :root {
    --logoFilter: brightness(0) invert(1);
    --bg: #000000;
    --textNormal: rgba(255, 255, 255, 0.88);
    --textLink: rgb(255, 167, 196);
    --cardBg: #242323;
    --cardBorderShadow: #363636;
  }
}

body {
  background-color: var(--bg);
  color: var(--textNormal);
}
