:root {
  // light
  --bg: #ffffff;
  --logoFilter: initial;
  --textNormal: #222;
  --textLink: #003cc8;
  --cardBg: rgb(223, 223, 223);

  // common
  -webkit-font-smoothing: antialiased;
  --cardBorderShadow: rgba(0, 0, 0, 0.2) 0px 2px 1px -1px, rgba(0, 0, 0, 0.14) 0px 1px 1px 0px, rgba(0, 0, 0, 0.12) 0px 1px 3px 0px;
  --sidenavWidth: 20rem;
  --sidenavMargin: 2rem;
  --cardCircleBoxShadow: var(--cardBg);
  --cardCircleBg: var(--cardBg);
  --border: var(--cardBg);
}

@media ( prefers-color-scheme: dark ) {
  :root {
    --bg: #121212;
    --logoFilter: brightness(0) invert(1);
    --textNormal: #ffffff;
    --textLink: rgb(255, 167, 196);
    --cardBg: rgb(32, 32, 32);
    ;
  }
}

body {
  background-color: var(--bg);
  color: var(--textNormal);
}
