:root {
  -webkit-font-smoothing: antialiased;
  --logoFilter: initial;
  --bg: #e4e4e4;
  --textNormal: #222;
  --textLink: #003cc8;
  --cardBg: #ffffff;
  --cardBorderShadow: rgb(165, 165, 165);
  --cardCircleBoxShadow: var(--cardBg);
  --cardCircleBg: var(--cardBg);
  --hr: hsla(0, 0%, 0%, 0.2);
}

@media ( prefers-color-scheme: dark ) {
  :root {
    --logoFilter: brightness(0) invert(1);
    --bg: #000000;
    --textNormal: rgba(255, 255, 255, 0.88);
    --textLink: rgb(255, 167, 196);
    --cardBg: #14151a;
    --cardBorderShadow: #000000;
    --cardCircleBoxShadow: var(--cardBg);
    --cardCircleBg: var(--cardBg);
    --hr: hsla(0, 0%, 100%, 0.2);
  }
}

body {
  background-color: var(--bg);
  color: var(--textNormal);
}
