.heroBanner {
  position: relative;
  background-color: var(--headerBg);
  transition: background-color 0.2s ease-out;
  height: 50vh;
  width: 100%;
  overflow: hidden;

  // TODO: fix ugly conditiionals
  &.fullHeight {
    height: calc(100vh - 79px);

    @media (min-width: 481px) {
      height: calc(100vh - 93px);
    }
    @media (min-width: 751px) {
      height: calc(100vh - 113px);
    }
  }
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  position: relative;
  z-index: 2;
  * {
    color: var(--textNormal);
  }
}

.heroBannerBody {
  text-align: center;
  max-width: 400px;
  margin: 0 1.5rem;

  h1 {
    padding-left: 0.25rem;
  }

  h1,
  p {
    margin: 0;
  }
}
