.tableHeader {
  margin-bottom: 2rem;
}

.experienceRow {
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.05);
  margin-bottom: 2rem;
  padding: 1rem;
  border-radius: 0.5rem;

  h3 {
    margin: 0;
    color: rgb(65, 154, 255);
  }

  h4 {
    margin-top: 0;
    // margin-bottom: 0.5rem;
  }

  p {
    margin: 0;
    padding-top: 0.5rem;
  }

  @media (max-width: 770px) {
    flex-direction: column;
  }
}

.experienceHeader {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5rem;

  @media (max-width: 770px) {
    flex-direction: column;
  }
}

.dateAndLocation {
  text-align: right;

  @media (max-width: 770px) {
    text-align: left;
  }
}
