.tableHeader {
  margin-bottom: 2rem;
}

.table {
  h3 {
    margin: 0;
    color: rgb(65, 154, 255);
  }

  h4 {
    margin-top: 0;
    margin-bottom: 0.5rem;
  }

  td {
    border: none;
    vertical-align: top;
  }
}
