.timeLineBugFix {
  width: 100% !important;
  overflow: hidden;

  &:before {
    :global {
      background-color: var(--cardBg);
      box-shadow: var(--cardBorderShadow);
      transition: all 0.2s ease-out;
    }
  }

  :global {
    @media only screen and (min-width: 1170px) {
      .vertical-timeline-element-content {
        width: 43% !important;
      }

      .vertical-timeline-element-date {
        margin: 0 1.5rem;
      }
    }

    // Card
    .vertical-timeline-element-content {
      background-color: var(--cardBg);
      box-shadow: var(--cardBorderShadow);
      transition: all 0.2s ease-out;
    }

    .vertical-timeline-element-date {
      white-space: pre-wrap;
    }

    .vertical-timeline-element-content * {
      color: var(--normalText);
    }

    .vertical-timeline-element-content-arrow {
      transition: border-color 0.2s ease-out;
      border-right-color: var(--cardBg);
    }

    .vertical-timeline-element-icon {
      background-color: var(--cardBg);
      box-shadow: var(--cardBorderShadow);
      transition: all 0.2s ease-out;
    }

    @media only screen and (max-width: 1170px) {
      .vertical-timeline--animate  .vertical-timeline-element-content.bounce-in {
        visibility: visible;
        animation: timeline-slide 0.6s;
      }
    }

    @keyframes timeline-slide {
      0% {
        opacity: 0;
        transform: translateY(-50px);
      }

      60% {
        transform: translateY(-10px);
      }

      100% {
        opacity: 1;
        transform: translateY(0);
      }
    }
  }
}

.logo {
  margin-bottom: 1rem;
  transition: filter 0.2s ease-out;
  filter: var(--logoFilter);
}
