:global {
  .headroom {
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    transition: background-color 0.2s ease-out, box-shadow 200ms ease-out;
    background-color: var(--headerBg);
    box-shadow: none;
  }

  .headroom--unfixed {
    position: relative;
    transform: translateY(0);
  }

  .headroom--scrolled {
    transition: transform 200ms ease-out;
    background-color: var(--bg);
    box-shadow: 0 1px 1px rgba(6, 8, 8, 0.1);
  }

  .headroom--unpinned {
    position: fixed;
    background-color: var(--bg);
    transform: translateY(-100%);
  }

  .headroom--pinned {
    position: fixed;
    transform: translateY(0%);
    transition: transform 200ms ease-out, background-color 0.2s ease-out;
  }
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;

  // a {
  //   transition: color 200ms ease-out;
  //   color: black;

  //   &:hover {
  //     color: var(--textLink);
  //   }
  // }
}

.h2 {
  margin: 0;
  padding-right: 2rem;
  padding-left: 0.25rem;
  position: relative;

  // Override active style color
  a {
    color: var(--textTitle) !important;
  }

  :after {
    content: '';
    width: 2.5rem;
    height: 2.5rem;
    border: solid 2px;
    position: absolute;
    left: 0;
    top: -8px;
    transition: transform 0.3s ease;
  }

  @media (min-width: 770px) {
    :hover:after {
      transform: rotate(90deg) scale(1.1);
    }
  }
}

.nav {
  ul {
    margin: 0;
  }

  li {
    display: inline;
    list-style-type: none;

    &:not(:last-child) {
      padding-right: 1rem;
    }
  }
}
